<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    id <=> object name-->
    <bean id="helloWorldBean" class="com.springioc.bean.HelloWorld">
        <property name="message" value="HelloWorld!!! (xml)" />
    </bean>
</beans>